# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
node_modules/
aspnet-core/src/AspnetboilerplateDemo.Web.Host/App_Data/Logs/
aspnet-core/src/AspnetboilerplateDemo.Web.Mvc/App_Data/Logs/
aspnet-core/src/AspnetboilerplateDemo.Migrator/Logs/Logs.txt
